@charset "utf-8";
#wrap {
    position: relative;
    width: 100%;
    min-width: 1220px;
}
#header_in {
    position: absolute;
    width: 1200px;
    height: 80px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo a {
    display: block;
    width: 138px;
    height: 20px;
    background-image: url(../img/logo.gif);
    text-indent: -99999px;
}
.gnb {
    position: absolute;
    top: 30px;
    left: 260px;
}
.gnb ul {
    display: flex;
}
.gnb li {
    margin-right: 60px;
}
.gnb li:last-child {
    margin-right: 0;
}
.ngb li a {
    color: #222;
    font-size: 18px;
}
.utill ul {
    display: flex;
}
.utill li {
    margin-left: 19px;
}
.utill li:first-child {
    margin-left: 0;
}
.utill li a {
    color: #666;
}
.utill li a:hover {
    color: #222;
}   
.utill .search a {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon_search.png);
    text-indent: -99999px;
}
.utill .cart a {   
    display: block;
    width: 22px;
    height: 20px;
    background-image: url(../img/icon_cart.png);
    text-indent: -99999px;
}
/* main */
.main_slide {
    position: relative;
    height: 480px;
    margin-bottom: 50px;
    overflow: hidden;
    /* 현재 태그 영역 밖에 배치되는 내용을 보이지 않게 처리한다. */
}
.main_slide a {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -800px;
}
.event {
    width: 1200px;
    margin: 0 auto 50px auto;
}
.event ul {
    display: flex;
    justify-content: space-between;
}
.best {
    position: relative;
    width: 1200px;
    margin: 0 auto 50px auto;
}
.best h2 {
    font-weight: 500;
    margin-bottom: 20px;
}   
.best h2 span {
    font-weight: 400;
}
.best ul {
    display: flex;
    justify-content: space-between;
}
.best li {
    width: 285px;
    text-align: center;
}
.best .photo {
    border: 1px solid #ccc;
    margin-bottom: 20px;
}
.best .photo img {
    width: 100%;
    height: auto;
}
.best .brand_name {
    font-size: 16px;
    color: #232426;
    font-weight: 500;
    margin-bottom: 5px;
}
.best .item_name {
    height: 50px;
    font-size: 17px;
    color: #666;
}
.best .price {
    font-size: 18px;
    font-weight: 500;
    color: #212223;
}
.best .price img {
    margin-top: 7px;
}
.best .more {
    position: absolute;
    top: 0;
    right: 0;
}
.best .more a {
    padding-right: 15px;
    color: #666;

    background-image: url(../img/icon_plus.png);
    background-repeat: no-repeat;
    background-position: right center;
}
.promotion {
    width: 1200px;
    margin: 0 auto 50px auto;
}
.promotion ul {
    display: flex;
    justify-content: space-between;
}
.promotion li {
    position: relative;
}
.promotion li .text {
    line-height: 22px;
    font-size: 16px;
    color: #666;

    position: absolute;
    top: 55px;
    left: 20px;
}
/* footer */
#footer {
    border-top: 1px solid #ccc;
    padding: 20px;
    padding-bottom: 40px;
}
#footer_in {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.f_menu {
    margin-bottom: 20px;
}
.f_menu ul {
    display: flex;
}
.f_menu li {
    margin-right: 17px;
}
.f_menu li a {
    color: #777;
}
.f_menu .point a {
    color: red;
}
.f_info {
    color: #777;
}
.f_info .mr {
    margin-right: 10px;
}
.f_info .bar {
    margin: 0 5px;
    font-size: 10px;
    vertical-align: top;
}
.kg {
    position: absolute;
    top: 0;
    right: 0;
}
.kg_logo {
    margin-bottom: 10px;
}
.kg_text {
    line-height: 22px;
    margin-bottom: 15px;
    font-size: 15px;
    color: #777;
}
.kg_link a {
    color: #777;
    padding-right: 13px;
    font-size: 15px;
    background-image: url(../img/arrow01.png);
    background-repeat: no-repeat;
    background-position: right center;
}